@tailwind base;
@tailwind components;
@tailwind utilities;

@property --background {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

@property --accent {
  syntax: "<color>";
  inherits: true;
  initial-value: red;
}

:root {
  --background: white;
  --foreground: black;
  --card-background: #ffffff;
  --card-foreground: #171717;
  --border: #ddd;
}

.dark {
  --background: black;
  --foreground: white;
  --card-background: #333;
  --card-foreground: #ededed;
  --border: #555;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s ease, background 0.5s ease; 
}

html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

[contenteditable]:focus {
  outline: none;
}