@tailwind base;
@tailwind components;
@tailwind utilities;

@property --background {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --foreground {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

@property --accent {
  syntax: "<color>";
  inherits: true;
  initial-value: red;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease, background 0.3s ease;
}
